
.DS_Store
*.xcuserstate
*.xcbkptlist
/Aliens Archive.xcodeproj/project.xcworkspace/xcuserdata
*.xcuserstate
Aliens Archive.xcodeproj/project.xcworkspace/xcuserdata/john.xcuserdatad/UserInterfaceState.xcuserstate
